#main-container {
    display: flex;
    width: 100%;
    height: 100%;
    font-size: 16px;
    background-image: radial-gradient(farthest-corner at 45px 45px , #2e2e58 0%, #000000 100%);
}

.white {
    background-color: #FFF;
    align-items: center;
    justify-content: center;
}

.white img {
    max-width: 400px;
}

.white h2 {
    margin-top: 30px;
    font-size: 2em;
}

.row{
    width: 50%;
    text-align: center;
    height: 100%;
    display: flex;
}

.black {
    padding: 50px 0 0;
    color: #FFF;
    flex-direction: column;   
    overflow: auto;
}

/**** TIMELINE ****/

/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 100%;
  text-align: left;
  margin-top: 40px;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 2px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
}

/* Container around content */
.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.container::after {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  right: -9px;
  background-color: #e4ff00;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: 0;
}

/* Place the container to the right */
.right {
  left: 51.3%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -16px;
}

/* The actual content */
.content {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 5px;
  color: #2e2e58;
}

.content h3{
    font-size: 1em;
}

.content:hover{
    cursor: pointer;
    background-color: #d1d1d1;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
/* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }

/* Full-width containers */
  .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

/* Make sure that all arrows are pointing leftwards */
  .container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

/* Make sure all circles are at the same spot */
  .left::after, .right::after {
    left: 15px;
  }

/* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }
}