#main-container {
    display: flex;
    width: 100%;
    height: 100%;
    font-size: 16px;
    background-image: radial-gradient(farthest-corner at 45px 45px , #2e2e58 0%, #000000 100%);
}

.white {
    background-color: #FFF;
    align-items: center;
    justify-content: center;
}

.white img {
    max-width: 400px;
}

.white h1 {
    margin-top: 30px;
    font-size: 2em;
}

.row{
    width: 50%;
    text-align: center;
    height: 100%;
    display: flex;
}

.black {
    padding: 50px 0 0;
    color: #FFF;
    flex-direction: column;   
    overflow: auto;
}

.black h2 {
    font-size: 3em;
}

/**** TIMELINE ****/

.timeline {
  position: relative;
  max-width: 100%;
  margin-top: 40px;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 2px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
}

.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

.container::after {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  right: -9px;
  background-color: #0cff0c;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Duplicating code, not a good idea */
.container-error {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
  }

  .container-error::after {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    right: -9px;
    background-color: #ff0000;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
  }

.left {
  left: 0;
  text-align: right;
}


.right {
  left: 51.3%;
  text-align: left;
}


.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}


.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

.right::after {
  left: -16px;
}


.content {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 5px;
  color: #2e2e58;
}

.content h3{
    font-size: 1em;
}

.content:hover{
    cursor: pointer;
    background-color: #d1d1d1;
}

@media screen and (max-width: 600px) {
  .timeline::after {
    left: 31px;
  }

  .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  .container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

  .left::after, .right::after {
    left: 15px;
  }

  .right {
    left: 0%;
  }
}